/*done with help of following website:https://docs.maptiler.com/openlayers/examples/how-to-use-openlayers/*/

body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
}